/* variables */
//colors
$color-text: #141414;
$color-light-gray: #6A6B6E;
$color-green: #C1F11D;
$color-bg-accent: #4087E1;
$color-bg-primary: #3F3F3F;
$color-bg-secondary: #F5F5F6;
$color-bg-content: #F1F3F1;

//fonts
$font_size: 16px;
$font_regular: 'Noto Sans', Verdana, Arial, serif;
$font_heading: 'PPAgrandir-Bold', Verdana, Arial, serif;

$media_desktop: 1200px;
$media_desktop_max: 1199px;
$media_tablet: 800px;
$media_tablet_max: 799px;
$media_phone: 580px;
$media_phone_max: 579px;

